$color-primary-100: #e1e5f0;
$color-primary-200: #becdeb;
$color-primary-300: #8298c4;
$color-primary-400: #6980ad;
$color-primary-500: #4f6899;
$color-primary-600: #294680;
$color-primary-700: #213a6e;
$color-primary-800: #1b3059;
$color-primary-850: #142342;
$color-primary-900: #0b1324;
$color-primary-950: #9298a6;

// Secondary
$color-secondary-100: #f2fff9;
$color-secondary-200: #beebd5;
$color-secondary-300: #82c4a3;
$color-secondary-400: #69ad8b;
$color-secondary-500: #4f9974;
$color-secondary-600: #298055;
$color-secondary-700: #216e48;
$color-secondary-800: #1b593a;
$color-secondary-900: #0b2418;

// Grey
$color-grey-0: #000000;
$color-grey-8: #141414;
$color-grey-12: #1f1f1f;
$color-grey-15: #262626;
$color-grey-26: #434343;
$color-grey-35: #595959;
$color-grey-55: #8c8c8c;
$color-grey-75: #bfbfbf;
$color-grey-85: #d9d9d9;
$color-grey-92: #ebebeb;
$color-grey-94: #f0f0f0;
$color-grey-96: #f5f5f5;
$color-grey-98: #fafafa;
$color-grey-99: #f7f9f9;
$color-grey-100: #ffffff;

// Blue
$color-blue-1: #e6f7ff;
$color-blue-2: #bae7ff;
$color-blue-3: #91d5ff;
$color-blue-4: #69c0ff;
$color-blue-5: #40a9ff;
$color-blue-6: #1890ff;
$color-blue-7: #096dd9;
$color-blue-8: #0050b3;
$color-blue-9: #003a8c;
$color-blue-10: #002766;

// Green
$color-green-1: #f6ffed;
$color-green-2: #e1f7cd;
$color-green-3: #b7eb8f;
$color-green-4: #95de64;
$color-green-5: #73d13d;
$color-green-6: #52c41a;
$color-green-7: #389e0d;
$color-green-8: #237804;
$color-green-9: #135200;
$color-green-10: #092b00;
$color-green-11: #80acbc;

// Yellow
$color-yellow-1: #feffe6;
$color-yellow-2: #ffffb8;
$color-yellow-3: #fffb8f;
$color-yellow-4: #fff566;
$color-yellow-5: #ffec3d;
$color-yellow-6: #fadb14;
$color-yellow-7: #d4b106;
$color-yellow-8: #ad8b00;
$color-yellow-9: #876800;
$color-yellow-10: #614700;

// Red
$color-red-1: #fff1f0;
$color-red-2: #ffccc7;
$color-red-3: #ffa39e;
$color-red-4: #ff7875;
$color-red-5: #ff4d4f;
$color-red-6: #d64048;
$color-red-7: #cf1322;
$color-red-8: #a8071a;
$color-red-9: #820014;
$color-red-10: #5c0011;

// fonts
$font-size-mini: 12px;
$font-size-xs: 14px;
$font-size-sm: 15px;
$font-size-base: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;

$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
